<form (*ng Submit=" ")>
    <div>
        <label>Name: </label> <input type="text" placeholder="your name here" value="name" />
    </div>
    <div>
        <label>Username: </label> <input type="text" placeholder="your name here" value="name" />
    </div>
    <div>
        <label>Passsword: </label> <input type="formController" placeholder="name here" value="name" />
    </div>
    <div>
        <label>Repeat password: </label> <input type="text" placeholder="your name here" value="name" />
    </div>
    <div>
        <label>Submit: </label> <input type="Submit" placeholder="your name here" value="name" />
    </div>
</form>