<h1>Add Job Opening </h1>
<form addJobOPeningForm="ngForm" (ngSubmit)="SubmitAddJobOpeningForm()">
<div>
    <label>Title</label>
    <input type="text" size="50px" name="title" placeholder="Job Title" [(ngModel)]="addJobOpeningData.title">
</div>
<br/>
<div>
    <label>Salary</label>
    <input type="text" name="salary" placeholder="Salary" [(ngModel)]="addJobOpeningData.salary">
</div>
<br/>
<div>
    <label>State</label>
    <input type="text"   name="state" placeholder="state" [(ngModel)]="addJobOpeningData.state">
</div>
<br/>
<div>
    <label>City</label>
    <input type="text" name="city" placeholder="city" [(ngModel)]="addJobOpeningData.city">
</div>
<br/>
<div>
    <label>Street</label>
    <input type="text" name="street" placeholder="street" [(ngModel)]="addJobOpeningData.street">
</div>
<br/>
<div>
    <label>Zip</label>
    <input type="text" name="zip" placeholder="zip" [(ngModel)]="addJobOpeningData.zip">
</div>
<br/>
<div>
    <label>Job Description</label>
    <input type="text" name="Jd" size="50px" placeholder="Job Description" [(ngModel)]="addJobOpeningData.description">
</div>
<br/>
<div>
    <label>Experience</label>
    <input type="text"  size="50px" name="experience" placeholder="experience" [(ngModel)]="addJobOpeningData.experience">
</div>
<br/>
<div>
    <label>Skills</label>
    <input type="text" size="50px" name="skills" placeholder="skills" [(ngModel)]="addJobOpeningData.skills">
</div>
<br/>
<button type="submit">Add Job Opening</button>

</form>
